<div class="container">
    <div class="" id="blogbox"  [ngStyle]="" #blogbox>
        <img id="blogbox_img" [src]="Blogs.blogImg[0]" alt="">
        <div class="container">
            <h3 id="blogbox_header" class=""><a>{{ Blogs.blogName }}</a></h3>
            <p id="blogbox_p" class="">{{ Blogs.blogContent }}</p>
            <div id="blogbox_footer">
                <a class="btn btn-outline-secondary" id="blogbox_footer_btn">read more</a>
                <p id="blogbox_footer_text">Workflow Manager</p>
            </div>
        </div>
    </div>   
</div>
