#gridbox {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 3fr;

}

@media only screen and (max-width: 1000px) {
    #gridbox {
        display: flex;
        flex-direction: column;
        width: 100%;
   }
}


a {
    text-decoration: none;
    color: #562C87;
    &:hover {
        cursor: pointer;
    }
}

#blogbox {
    box-sizing: border-box;
   display: flex;
   flex-direction: column;
   max-width: 30rem;
   max-height: 40rem;
   align-items: center;
   border: 1px transparent;
   box-shadow: 5px 5px 10px 3px  rgb(238, 237, 237); 
   margin: auto;
   margin-bottom: 5rem;
border-radius: 7px;


  

   .container {
       box-sizing: border-box;
   }
   &_img {
        align-self: center;
        max-height: 200vh;
        max-width: 100%;
        margin: auto;
        object-fit: scale-down;;
     }
    &_header {
        padding: 1rem 3rem;

    }

    &_p {
        max-height: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1rem 3rem;
    }

    &_footer {
        padding: 1rem 3rem;
         margin-bottom: 2rem;
         display: flex;
        justify-content: space-between;
        align-items: center;
        &_btn {
            border: 1px solid #666;
            background-color: #ffffff;
            border-radius: 50px;
            padding: 7px 10px;
            color: #666;
        }

        &_text {
            margin-top: 1rem;
            color: #562C87;
        }
    }

}

@media only screen and (max-width: 150px) {
    #blogbox {
        &_header {
            font-size: .5rem;
        }

        &_ footer {
            &_button {
                font-size: .25rem;
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    #blogbox {
        &_p {
            display: none;
        }
    }
}
@media only screen and (max-width: 600px) {
    #blogbox {
        align-content: center;
        justify-content: center;
        width: 100%;

        &_header {
            text-align: center;
        }

        &_p {
            text-align: center;
        }
        &_img {
            display: none;
        }

        &_footer {
            flex-direction: column;
            justify-content: center;
            align-content: center;

            &_btn {
                width: 75%;
            }

            &_text {
                display: none;
            }
        }
    }
}