<div class="">
    <div class="">
        <div class="col-sm-10 m-auto py-5">
            <app-feature></app-feature>
        </div>
        <div class=" col-sm-11 m-auto" id="gridbox">
            <!-- <app-blog-post  *ngFor="let blog of Blogs; let i = index" [routerLink]="['/', i ]" [Blogs] = "blog">
            <div *ngIf="i > 4"> {{ blog }}</div>
            <app-promo></app-promo>
            <div *ngIf=" i < 4"> {{ blog }}</div>
            </app-blog-post> -->
           <div class="posts" *ngFor="let blog of Blogs; let i = index">
            <div class="container">
                <div class="" id="blogbox"  [ngStyle]="" #blogbox>
                    <img id="blogbox_img" [src]="blog.blogImg[0]" alt="">
                    <div class="container">
                        <h3 id="blogbox_header" class=""><a >{{ blog.blogName }}</a></h3>
                        <p id="blogbox_p" class="">{{ blog.blogContent }}</p>
                        <div id="blogbox_footer">
                            <a [routerLink]="['/', i ]" class="btn btn-outline-secondary" id="blogbox_footer_btn">read more</a>
                            <p id="blogbox_footer_text">Workflow Manager</p>
                        </div>
                    </div>
                </div>   
            </div>
           </div>
            
        </div>
    
        <!-- <div class=" col-sm-11 m-auto" id="gridbox">
            <app-blog-post  *ngFor="let blog of Blogs" [Blogs] = "blog"></app-blog-post>
            <div></div>
        </div> -->
    </div>
</div>