.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    &_search {
        padding: 0.7rem 0.5rem;
        padding-left: 2rem;;
        color: #666;
        border: 1px solid #bbb;
        width: 10rem;
        background: url(../../../assets/Group3.png) no-repeat 93%;
        background-size: 7%;
    }

    &_select {
        padding: 0.7rem 0.25rem;
        padding-left: 2rem;
        color: #666;
        border: 1px solid #bbb;
        border-radius: 5px;
        width: 13rem;
    }
}

@media only screen and (max-width: 500px) {
    .feature {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &_search {
            margin: 1rem auto;
            align-self: center;
            width: 15rem;
        ;
        }

        &_select {
            margin: 1rem auto;
            width: 13rem;
        }
    }
}

