<div class="">
    <div class="m-auto feature" id="flex">
            <input type="text" placeholder="Search" class="feature_search">
        <div class="dropdown feature_select">
        <div class="btn dropdown-toggle" data-toggle='dropdown'>All Categories</div>
        <div class="dropdown-menu">
            <a href="" class="dropdown-item">Help</a>
            <a href="" class="dropdown-item">Installation</a>
            <a href="" class="dropdown-item">Support</a>
        </div>
        </div>        
    </div>
    
</div>