<div class="showcase">
    <div class="">
        <div class="container">
            <div class="col-lg-8 m-auto showcase_content">
                <p class="showcase_content_paragraph">Get the Knowledge and inspiration you need to expand your business, straight to your inbox.</p>
                <input  type="text" id="emailbox" placeholder="Enter your email address" class="showcase_content_input" >
                <button class="showcase_content_button btn" (click)="postIt()">SUSCRIBE</button>
            </div>
        </div>
        
    </div>
</div>