.showcase {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    max-height: 200vh;
    background: url('../../assets/Base.png') center center/cover;
    &_content {
        display: grid;
        grid-column: 1fr;
        grid-gap: 1rem;   
        &_paragraph {
            margin-top: 3rem;
            color: #ffffff;
            max-width: 50rem ;
            font-weight: bold;
            font-size: 1.5rem;
        }

        &_input {
            width: 50%;
            border: 1px solid transparent;
            border-radius: 3px;
            padding: 0.7rem;
        }

        &_button {
            background: #2f2c7d;
            color: #ffffff;
            width: 30%;
            border-radius: 25px;
            margin-bottom: 3rem;
        }
    }

}


// small screens media query

@media only screen and (max-width: 250px) {
    .showcase {
        display: flex;
        flex-direction: column;
        background-color: blue;
        justify-content: center;
        align-content: center;
        max-height: 200vh;
        &_content {
            margin-top: 2rem;
            width: 95%;
            text-align: center;
            &_input {
                width: 95%;
                text-align: center;
            }

            &_button {
                width: 95%;
            }
        }
    }
}
@media only screen and (min-width: 251px) and (max-width: 470px) {
    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100vh;
        &_content {
            width: 95%;
            text-align: center;
            &_paragraph {
                font-size: 1.75rem;
            }
            &_input {
                width: 95%;
                text-align: center;
            }

            &_button {
                width: 95%;
            }
        }
    }
}

@media only screen and (min-width: 471px) and (max-width: 650px) {
    .showcase {
        
    }
}


@media only screen and (max-width: 900px) and (orientation: landscape) {
    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-height: 120vh;
        &_content {
            width: 95%;
            text-align: center;
            &_paragraph {
                font-size: 2rem;
            }
            &_input {
                width: 95%;
                text-align: center;
            }

            &_button {
                width: 95%;
            }
        }
    }
}




