.link-color {
    color: #564D4D;
    &:hover { color: #a7272d;}
    &:active { color: #a7272d }
}

#navbar {
display: flex;
align-content: center;

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
}

ul {
    align-items: center;
}

    &_logo{
        height: 3rem;
    }

    &-button {
        background: #a7272d;
        border: 1px transparent ;
        border-radius: 50px;
        padding: 0.25rem 0.75rem;
        color: #ffffff;
    }
}

@media only screen  and (max-width: 900px) {
#navbar {

    .hamburger {
        color: #666;
        text-decoration: none;

        &:hover {
            color: #a7272d;
        }
    }


    &-button{
        border-radius: 0px;
        background-color: #ffffff;
        color: #666;
    }

    display: block;
      .hamburger {
        display: block;
    }

    .nav{
        margin-top: 1rem;
        display: none;
        flex-direction: column;

     &.responsive {
         display: block;

     }
        li {
            display: block;
            border-bottom: 1px dotted #ddd;
            margin: 1rem;
            padding: 2rem auto;   
             }
    }
}
  

}
