<div class=" py-3 navbar " id="navbar">
 <div class="flex">
    <a href="#" class="navbar-brand"><img src="../../assets/CICOD.png" id="navbar_logo" alt=""></a>
    <a href="javascript:void(0)" class="hamburger" (click) = "onHamburger()"><i class="fas fa-bars fa-2x"></i></a>
 </div>
    <ul class="nav" id="navMenu">
        <li class="nav-item">
            <a class="nav-link link-color" href="#">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-color" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-color" href="#">Affiliates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-color" href="#">Industry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-color" href="#">Support</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-color" href="#">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-color" href="#" id="navbar-button">Get Started</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-color" href="#">Login</a>
        </li>
    </ul>
</div>