.page {
    margin: 3rem auto;

    &_header {
            margin: auto;
            display: flex;
            justify-content: space-between;

            &_link {
                a {
                    color: #666666;
                text-decoration: none;
                }
            }
        

      
    }
}