<!-- <app-navbar></app-navbar>
<app-hero></app-hero>
<!-- <div class="container page">
    <div class="row ">
        <div class="col-sm-9 page_header">
            <div class="page_header_link">
                <a href=""><p>BACK TO BLOG</p></a>
            </div>
            <p>Workflow Manager</p>
        </div>
    </div>
    <div class="page_content_header">{{ blogData[1].blogName }}</div>
</div> -->
<!-- <app-blog-showcase></app-blog-showcase> --> -->
