.page {

    &_header {
        margin: 1.5rem auto;
        display: flex;
        justify-content: space-between;
    }

    &_heading {

        &_title {
            font-size: 2.5rem;
        }

        &_thumbnails {
            margin: 2rem auto;
            display: flex;
            justify-content: space-between;
            &_socials {
                display: flex;
                img {
                    margin-right: 1rem;
                }
            }
            &_author {
                display: flex;
                &_profile {
                    margin-right: 1rem;
                }
                &_name {
                    em{
                        font-style: none;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        &_img {
            margin: 2rem auto;
         }

         &_paragraph {
             margin: 2rem auto;
             text-align: justify;
             font-size: 1.5rem;
             line-height: 1.5;
         }

    }
}

@media only screen and (max-width: 150px) {
    .page {

        &_header {
            margin: 1.5rem auto;
            display: flex;
            justify-content: space-between;
        }
    
        &_heading {
    
            &_title {
                font-size: 2.5rem;
            }
    
            &_thumbnails {
                margin: 2rem auto;
                display: flex;
                justify-content: space-between;
                &_socials {
                    display: flex;
                    img {
                        margin-right: 1rem;
                    }
                }
                &_author {
                    display: flex;
                    &_profile {
                        margin-right: 1rem;
                    }
                    &_name {
                        em{
                            font-style: none;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    
        &_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            &_img {
                margin: 2rem auto;
             }
    
             &_paragraph {
                 margin: 2rem auto;
                 text-align: justify;
                 font-size: 1.5rem;
                 line-height: 1.5;
             }
    
        }
    }
}
@media only screen and (max-width: 300px) {
}
@media only screen and (max-width: 800px) {
    .page {

        &_header {
            margin: 1.5rem auto;
            display: flex;
            justify-content: space-between;
        }
    
        &_heading {
    
            &_title {
                font-size: 2.5rem;
            }
    
            &_thumbnails {
                margin: 2rem auto;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                &_socials {
                    display: flex;
                    margin-bottom: 2rem;
                    img {
                        margin-right: 1rem;
                    }
                }
                &_author {
                    display: flex;
                    margin-bottom: 2rem;
                    &_profile {
                        margin-right: 1rem;
                    }
                    &_name {
                        em{
                            font-style: none;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    
        &_content {
            max-width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            &_img {
                max-width: 95%;
                margin: 2rem auto;
                img {
                    max-width: 95%;
                    max-height: 50vh;
                    margin: auto;
                }
             }
    
             &_paragraph {
                 max-width: 95%;
                 margin: 2rem auto;
                 text-align: justify;
                 font-size: 1.5rem;
                 line-height: 1.5;
             }
    
        }
    }
}