<div class="container">
    <div class="row ">
        <div class="col-sm-12 page_header">
            <div class="page_header_link">
                <a routerLink='/' routerLinkActive="active"><p>BACK TO BLOG</p></a>
            </div>
            <p>Workflow Manager</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 page_heading">
            <div class="page_heading_title">
                {{Blog.blogName}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="page_heading_thumbnails">
                <div class="page_heading_thumbnails_socials">
                    <img src="../../assets/Group 201.png" alt="">
                    <img src="../../assets/Group 202.png" alt="">
                    <img src="../../assets/Group 203.png" alt="">
                    <img src="../../assets/Group 204.png" alt="">
                </div>
                <div class="page_heading_thumbnails_author">
                    <div class="page_heading_thumbnails_author_profile">
                        <img [src]="Blog.authorPic" alt="">
                    </div>
                    <div class="page_heading_thumbnails_author_name"><em>{{ Blog.authorName }}</em><br>December 29, 2020</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="page_content">
                <div class="page_content_img">
                    <img [src]="Blog.blogImg[0]" alt="">
                </div>
                <div class="page_content_paragraph">
                    {{ Blog.authorName }}
                    {{ Blog.blogContent[0] }}
                </div>
                <div class="page_content_img">
                    <img [src]="Blog.blogImg[2]" alt="">
                </div>
                <div class="page_content_paragraph">
                    {{ Blog.blogContent[1] }}
                </div>
            </div>
        </div>
    </div>
</div>



