<div class="promo">
    <div class="container">
            <div class="promo_content">
                <h2 class="promo_content_header">Start Your <span class="special">30 Days Free Trial</span></h2>
                <p class="promo_content_p">
                    One of the many reasons your business needs CICOD's Workflow Manager is the efficacy and simplicity it provides With CICOD;s Workflow Manager you can easily assign work orders to your
                </p>
                <a href="#" class="btn promo_content_btn">Get Started</a>
            </div>
    </div>
</div>
