.promo {
    background: #a4242d;
    max-height: 100vh;
    margin: 3rem auto;

    &_content{
        padding: 2rem 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;

        &_header {
            text-align: center;
            margin-bottom: 1rem;

            .special {
                color: #fcb71c;
                display: block;
                text-align: center;
            }
        
         }

         &_p {
             text-align: center;
         }

         &_btn {
             background:#fff;
             padding: 7px 30px;
             border-radius: 50px;
             color: #a4242d;
             font-weight: 500;
             font-size: large;
             margin-top: 1rem;
         }
    }
    


    
}

@media only screen and (max-width: 300px) {
    .promo {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .promo {
        &_content {
            padding: 2rem 0rem;
            justify-content: center;
            align-content: center;
        }
    }
}