<div class="footer">
    <div class="container">
        <div class="footer_content">
            <img class="footer_content_logo" src="../../assets/CICOD.png" alt="" srcset="">
            <ul class="footer_content_links" id="links1">
                <li class="footer_content_links_header"><p>Products</p></li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">Customer Order Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">Inventory Management System</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">Workflow Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">Unified Collections Gateway
                    </a>
                </li>
            </ul>
            <ul class="footer_content_links" id="links2">
                <li class="footer_content_links_header"><p>Bundles</p></li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">CICOD Merchant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">Call To Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">CICOD Map</a>
                </li>
            </ul>
            <ul class="footer_content_links" >
                <li class="footer_content_links_header"><p>Information</p></li>
                <li class="nav-item">
                    <a class="nav-link footer_content_links_link" href="#">Support</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="container">
        <div class="bottom_content">
            <ul class="bottom_content_ul">
                <li class="nav-item"><a href="#" class="nav-link">Privacy</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Terms of use</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Security</a></li>
            </ul>
            <p class="bottom_content_name">&copy; Crown Interactive 2020</p>
        </div>
    </div>
</div>