.footer {  
    
    background: rgb(240, 241, 243);
    
    &_content {
        display: flex;
        align-items: flex-start;
        justify-items: flex-start;
        justify-content: space-between;
        padding: 3rem;

        &_logo {
            padding-top: -3rem;
        }
     

    &_links {
        list-style: none;
        line-height: 0.5px;
        font-size: 0.75rem;
        color: #666;
        text-align: left; ;
        

        &_header {
            font-size: 1rem;
            padding: 0.5rem 1rem;
            font-weight: 500;
        }

        &_link {
            color: #666;
        }
    }
    }
}
.bottom {
    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-height: 10vh;
        padding: 3rem 2rem;

        &_name {
            font-size: 0.75rem;
        }

        &_ul {
            display: flex;
            list-style: none;

            li {
                a {
                    color: #666;
                    font-size: 0.75rem;
                }
            }

        }
    }


}

@media only screen and (max-width: 400px) {
    .footer {
        &_content {
            justify-content: center;
            align-content: center;
            flex-direction: column;

            &_logo {
                margin-bottom: 2rem;
            }

            &_links {
                &_link {
                line-height: 1rem;
                }
            }
        }
    }

    .bottom {
       &_content {
           margin-top: 1rem;
           padding: 1rem 1rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        
        }
       }
    }


@media only screen and (max-width: 900px) {
    .footer {
        &_content {
            justify-content: center;
            align-content: center;
            flex-direction: column;

            &_logo {
                margin-bottom: 2rem;
            }
        }
    }

    .bottom {
       &_content {
           margin-top: 1rem;
           padding: 1rem 1rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        
        }
       }
    }
